

		#googleMap {
			position: absolute; 
			top: 0; 
			left: 0;
			bottom: 0;
			right: 0;
			height: auto; 
			width: 100%;
		}
		
		#test {
			position: absolute;
			top: 20%;
			bottom: 20%;
			left: 20%;
			right: 20%;
			z-index: 2;
			background-color: white;
		}
		
		#bandeauHaut {
			width: 100%;
			background-color:#29303d;
			color: white;
			height: 50px;
			position: absolute; 
			top: 0; 
			left: 0;
			right: 0;
			padding-top: 6px;
			z-index: 1;
		}
		
		#titreCarte {
			font-weight: bold;
			font-size: 30px;
			margin-left: 10px;
			
		}
		
		.button {
			color: white;
			background-color: #29303d;
			padding: 5px 24px;
			border-radius: 2px;
			border: 2px solid #667899;
			text-align: center;
			text-decoration: none;
			font-size: 16px;
			margin: 0px 10px;
			cursor: pointer;
		}