@CHARSET "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, 
s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
body { line-height:1; }
ol, ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }
caption, th, td, h1, h2, h3, h4, h5, h6 { text-align:left; font-weight:normal; }
body { font-size:14px; font-family:Blippo, fantasy;  }

#footer { background:black; position:absolute; height:40px; z-index:1050; width:100%; bottom:0; color:#ccc; line-height:40px; text-align:right;}
#footer ul li { padding: 0 20px; }
#footer a { text-decoration:none; }

#header { height:50px; position:absolute; z-index:1000; background:black; width:100%;}
#header h1 {  font-size: 20px; margin:0; height:40px; line-height:40px; display:block; background:black; padding-left:15px; }
#header img {  padding:0; display:block; float:left; margin:5px 15px;   }
#header h2  {  font-size: 18px; margin:0; padding:0; height:40px; line-height:40px;  }

ul#sortmenu { float:right; }
ul#sortmenu  li { float:right; width:125px; border-left:solid 1px #ffffff; height:50px; line-height:50px; text-align:center; display:block; background:#000000; color:#FFFFFF; }

ul#sortmenu li#romantique:hover{ background-color:#000000; color:#C078DF; cursor:pointer; font-size:130%; }
ul#sortmenu li#romantique.selected { background-color:#C078DF; color:#000000; }

ul#sortmenu li#restaurant:hover { background-color:#000000; color:#DFAF78; cursor:pointer; font-size:130%; }
ul#sortmenu li#restaurant.selected { background-color:#DFAF78; color:#000000; }

ul#sortmenu li#historique:hover { background-color:#000000; color:#BDF875; cursor:pointer; font-size:130%; }
ul#sortmenu li#historique.selected { background-color:#BDF875; color:#000000; }

ul#sortmenu li#ballade:hover { background-color:#000000; color:#78AEDF; cursor:pointer; font-size:130%; }
ul#sortmenu li#ballade.selected { background-color:#78AEDF; color:#000000; }

ul#sortmenu li#effrayant:hover { background-color:#000000; color:#DC5656; cursor:pointer; font-size:130%; }
ul#sortmenu li#effrayant.selected { background-color:#DC5656; color:#000000; }

ul#sortmenu li#bar:hover { background-color:#000000; color:#F5F779; cursor:pointer; font-size:130%; }
ul#sortmenu li#bar.selected { background-color:#F5F779; color:#000000; }

ul#sortmenu li#vue:hover { background-color:#000000; color:#78DFB1; cursor:pointer; font-size:130%; }
ul#sortmenu li#vue.selected { background-color:#78DFB1; color:#000000; }

/* Menu */

#menu, #menu ul /* Liste */	
{
	padding : 0; /* pas de marge intérieure */
	margin : 0; /* ni extérieure */
	list-style : none; /* on supprime le style par défault de la liste */
	line-height : 50px; /* on défini une hauteur pour chaque élément */
	text-align : center; /* on centre le texte qui se trouve dans la liste */
	float:left;
	z-index:1000;
}

#menu /* Ensemble du menu */
{
	font-weight : bold; /* on met le texte en gras */
	font-family : Blippo, fantasy; /* on utilise Arial c'est plus beau ^^ */
	font-size : 18px; /* hauteur du texte : 12 pixels */
}

#menu a /* Contenu des listes */
{
	display	: block; /* on change le type d'élément, les liens deviennent des balises de type block */
	padding	: 0; /* aucune marge intérieure */
	background-color:#000000;
	color : #ffffff; /* couleur du texte */
	text-decoration : none; /* on supprime le style par défault des liens (la pluspart du temps = souligné) */
	width :115px; /* largeur */
}

#menu li /* Elements des listes */	
{ 
	float : left; 
	/* pour ie qui ne reconnait pas "transparent" */
	border-right : 1px solid #ffffff; /* on met une bordure blanche à droite de chaque élément */
}

/* ie ne reconnaissant pas le sélecteur ">" */
html>body #menu li
{
	border-right: 1px solid transparent ; /* on met une bordure transparante à droite de chaque élément */
}


/**** NoteBook ****/
@media screen and (max-device-width: 1024px){
	ul#sortmenu { float:right; }
	ul#sortmenu  li { float:right; width:95px; border-left:solid 1px #ffffff; height:40px; line-height:40px; text-align:center; display:block; }
	ul#sortmenu li:hover { background-color:#000000; color:#FFF; cursor:pointer; }
	ul#sortmenu li.selected { background-color:#BDF875; color:#000000; }